
<div id="loginForm">
    <form action="">
      Username: <input type="text" id="username"><br>
      Password: <input type="password" id="password"><br>
      <button id="login">Login</button>
    </form>

    <button id="logout">Logout</button>
</div>

<button id="getButton">Get</button>
