

<form action="" id="loginForm">
  Username: <input type="text" id="username"><br>
  Password: <input type="password" id="password"><br>
  <button id="login">Login</button>
</form>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<button id="getButton">Get</button>
